@import url(http://fonts.googleapis.com/css?family=Montserrat:400, 700);
@import url(http://fonts.googleapis.com/css?family=Raleway:400, 300, 700);
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
h1,
h2,
h3,
h4,
h5,
h6 {
  font: 300 46px/1.2 "Montserrat", serif, sans-serif;
}
.h4,
.h5,
.h6,
h4,
h5,
h6 {
  margin-top: -30px;
  margin-bottom: 20px;
  margin-left: 50px;
}
h1 {
  font-size: 64px;
  margin: 5px 0 15px;
}
h2 {
  font-size: 30px;
  line-height: 30px;
}
h3 {
  font-size: 24px;
  line-height: 24px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 12px;
}
