@keyframes slide-animation {
  0% {
    opacity: 0;
    right: 0;
  }
  11% {
    opacity: 1;
    right: 0;
  }
  33% {
    right: 100%;
  }
  66% {
    right: 200%;
  }
  88% {
    opacity: 1;
    right: 300%;
  }
  100% {
    opacity: 0;
    right: 300%;
  }
}
@-webkit-keyframes drop {
  0% {
    top: 5px;
    opacity: 0;
  }
  30% {
    top: 10px;
    opacity: 1;
  }
  100% {
    top: 25px;
    opacity: 0;
  }
}
@keyframes drop {
  0% {
    top: 5px;
    opacity: 0;
  }
  30% {
    top: 10px;
    opacity: 1;
  }
  100% {
    top: 25px;
    opacity: 0;
  }
}
@keyframes change {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
