header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 600ms;
    padding: 20px 100px;
    background: none;
    z-index: 100000;
    margin-bottom: 20px;
    .animation {
        position: absolute;
        height: 2px;
        bottom: 0;
        z-index: 0;
        background-color: #3a4149;
        border-radius: 8px;
        transition: all .5s ease 0s;
    }
    li {
        &:nth-child(1) {
            width: auto;
            &:hover ~ .animation {
                width: 80px;
                left: 43.3%;
            }
        }
        &:nth-child(2) {
            width: auto;
            &:hover ~ .animation {
                width: 80px;
                left: 52%;
            }
        }

        &:nth-child(3) {
            width: auto;
            &:hover ~ .animation {
                width: 80px;
                left: 60.5%;
            }
        }
        &:nth-child(4) {
            width: auto;
            &:hover ~ .animation {
                width: 100px;
                left: 71%;
            }
        }
        &:nth-child(5) {
            width: auto;
            &:hover ~ .animation {
                width: 80px;
                left: 82.7%;
            }
        }
        &:nth-child(6) {
            width: auto;
            &:hover ~ .animation {
                width: 80px;
                left: 91.8%;
            }
        }

        a {
            z-index: 1;
            position: relative;
            display: block;
            padding: 10px 8px;
            &:hover {
                transition: ease-in-out cubic-bezier(0.68, -0.55, 0.265, 1.55);
                color: $first-color;
            }
        }
    }

    .active {
        border-bottom: 3px solid #fff;
    }

    &.sticky {
        padding: 0;
        background: #fff;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
        li {
            a {
                &:hover {
                    transition: ease-in-out cubic-bezier(0.68, -0.55, 0.265, 1.55);
                    color: $first-color;
                }
            }
        }
        .active {
            border-bottom: 3px solid #000;
            &:hover {
                transition: ease-in-out cubic-bezier(0.68, -0.55, 0.265, 1.55);
                color: $first-color;
            }
        }

        .home_logo,
        ul li a {
            color: #000;
        }
    }

    .home_logo {
        position: absolute;
        margin-top: 6px;
        display: inline-block;
        white-space: nowrap;
        transition: 600ms;
        color: #fff;
        margin-right: 1rem;
        text-decoration: none;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 2px;
        line-height: 28px;

        svg {
            display: inline-block;
            font-size: inherit;
            text-rendering: auto;
            height: 14px;
        }
    }

    ul {
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 12px;

        li {
            position: relative;
            list-style: none;

            a {
                position: relative;
                margin: 0 15px;
                text-decoration: none;
                color: #fff;
                letter-spacing: 2px;
                transition: 600ms;
            }
        }
    }
}
