header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 600ms;
    padding: 20px 100px;
    background: none;
    z-index: 100000;
    margin-bottom: 20px;
    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        
        .burger {
            display: none;
            cursor: pointer;
            & div{
                width: 25px;
                height: 3px;
                background-color: #fff;
                margin: 5px;
            }
        }
    }
    .animation {
        position: absolute;
        height: 2px;
        bottom: 0;
        z-index: 0;
        background-color: #3a4149;
        border-radius: 8px;
        transition: all .5s ease 0s;
    }
    li {
        &:nth-child(1) {
            width: auto;
            &:hover ~ .animation {
                width: 80px;
                left: -42.5%;
            }
        }
        &:nth-child(2) {
            width: auto;
            &:hover ~ .animation {
                width: 80px;
                left: -16%;
            }
        }

        &:nth-child(3) {
            width: auto;
            &:hover ~ .animation {
                width: 80px;
                left: 14%;
            }
        }
        &:nth-child(4) {
            width: auto;
            &:hover ~ .animation {
                width: 100px;
                left: 48.5%;
            }
        }
        &:nth-child(5) {
            width: auto;
            &:hover ~ .animation {
                width: 80px;
                left: 87.7%;
            }
        }
        &:nth-child(6) {
            width: auto;
            &:hover ~ .animation {
                width: 80px;
                left: 118%;
            }
        }

        a {
            z-index: 1;
            position: relative;
            display: block;
            padding: 10px 8px;
            &:hover {
                transition: ease-in-out cubic-bezier(0.68, -0.55, 0.265, 1.55);
                color: #3a4149;
            }
        }
    }

    .active {
        border-bottom: 3px solid #fff;
    }

    &.sticky {
        padding: 0;
        background: #fff;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
        li {
            a {
                &:hover {
                    transition: ease-in-out cubic-bezier(0.68, -0.55, 0.265, 1.55);
                    color: $first-color;
                }
            }
        }
        .active {
            border-bottom: 3px solid #000;
            &:hover {
                transition: ease-in-out cubic-bezier(0.68, -0.55, 0.265, 1.55);
                color: $first-color;
            }
        }

        .home_logo,
        ul li a {
            color: #000;
        }
    }

    .home_logo {
        margin-bottom: 16px;
        display: inline-block;
        white-space: nowrap;
        transition: 600ms;
        color: #fff;
        margin-right: 1rem;
        text-decoration: none;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 2px;
        line-height: 28px;
    }
    ul {
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 12px;
        width: 30%;

        li {
            position: relative;
            list-style: none;

            a {
                position: relative;
                margin: 0 15px;
                text-decoration: none;
                color: #fff;
                letter-spacing: 2px;
                transition: 600ms;
            }
        }
    }
}

@media screen and (max-width: 768px){
    header{
        .home_logo{
            display: none;
        }
        ul{
            
            position: absolute;
            right: 0px;
            height: 92vh;
            top: 8vh;
            background-color: #3a4149;
            color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 30%;
            transform: translateX(100%);
            transition: transform 0.5s ease-in;
            li{
                opacity: 0;
            }
            
        }
        .burger{
            display: block;
        }
    }
}
.nav-active {
    transform: translateX(0%);
}